In [1]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import ttest_ind

## Wrangle Data and Create CSV

In [6]:
#read in files
willie_df = pd.read_csv('week3pt2_4pt2.csv')
ken_df = pd.read_csv('DS620_Discussion_Board_Data_Ken.csv')
ken_df.columns = ['Thread_Name','Initial_Post_or_Comment','Author','Response_To','Thread_Content']
willie_df = willie_df[['Thread_Name','Initial_Post_or_Comment','Author','Response_To','Thread_Content']]
jagdish_df = pd.read_csv('DS620_Discussion_Board_Data.csv')
thread_data_df = pd.concat([willie_df, ken_df, jagdish_df])

#Groups 
groups_list = [
    [1, 'Jithendra Seneviratne', 'Sheryl Piechocki'],
    [2, 'Jagdish Chhabria', 'Ken Popkin', 'Willie Smalls'],
    [3, 'Simon Ustoyev', 'Jack Russo', 'Elina Azrilyan', 'Murat Akyildirim'],
    [4, 'Mikhail Kollontai', 'Amber Ferger', 'Zachary Alexander', 'Subhalaxmi Rout'],
    [5, 'Habib Khan', 'Vijaya Cherukuri', 'Priya Shaji', 'Abdellah Ait Elmouden'],
    [6, 'Steven Ellingson'],
    [7, 'Wei Zhou', 'Mia Chen'],
    [8, 'Vanita Thompson', 'Mael Illien', 'Jeremy OBrien']
]

#clean up file
thread_data_df['Author'] = thread_data_df['Author'].replace(['Abdellah Ait Elmouden \n'],'Abdellah Ait Elmouden')
thread_data_df['Response_To'] = thread_data_df['Response_To'].replace(['Abdellah Ait Elmouden \n'],'Abdellah Ait Elmouden')
thread_data_df['Author'] = thread_data_df['Author'].replace(['Elina Azrilyan\xa0'],'Elina Azrilyan')

## review Jeremy O'Brien
thread_data_df['Response_To'] = thread_data_df['Response_To'].replace(["Jeremy O'Brien"], 'Jeremy OBrien')
thread_data_df['Author'] = thread_data_df['Author'].replace(["Jeremy O'Brien"], 'Jeremy OBrien')

## review Jit Seneviratne
thread_data_df['Response_To'] = thread_data_df['Response_To'].replace(['Jit Seneviratne'], 'Jithendra Seneviratne')
thread_data_df['Author'] = thread_data_df['Author'].replace(['Jit Seneviratne'], 'Jithendra Seneviratne')

## review Jagdish Chhabria
thread_data_df['Response_To'] = thread_data_df['Response_To'].replace(['Jagdish Chabria'], 'Jagdish Chhabria')
thread_data_df['Author'] = thread_data_df['Author'].replace(['Jagdish Chabria'], 'Jagdish Chhabria')

#remove spaces
thread_data_df['Response_To'] = thread_data_df['Response_To'].str.strip()
thread_data_df['Author'] = thread_data_df['Author'].str.strip()

#review distinct list of individuals
set(list(thread_data_df['Author']) + list(thread_data_df['Response_To']))

#send dataframe to csv
thread_data_df.to_csv('final_thread_data_all.csv')
thread_data_df

,Thread_Name,Initial_Post_or_Comment,Author,Response_To,Thread_Content
0,Uber API Restrictions Controversy,1,Simon Ustoyev,Simon Ustoyev,"I found 2 articles (one siting the other), whi..."
1,Uber API Restrictions Controversy,2,Subhalaxmi Rout,Simon Ustoyev,"Interesting post, Simon! Due to Uber API restr..."
2,Freedom of Information Act (FoIA),1,Habib Khan,Habib Khan,The Freedom of Information Act is a federal fr...
3,NBA Play by Play,1,Steven Ellingson,Steven Ellingson,Detailed play by play statistics used to be av...
4,Fintech Data Aggregators,1,Jagdish Chhabria,Jagdish Chhabria,One area where there have been many interestin...
...,...,...,...,...,...
176,Enron and SPEs,1,Jithendra Seneviratne,Jithendra Seneviratne,"We briefly discussed Enron last week, and I re..."
177,Distinguishing Manipulated Stocks,1,Simon Ustoyev,Simon Ustoyev,Here's a link to a study which attempted to di...
178,Distinguishing Manipulated Stocks,2,Murat Akyildirim,Simon Ustoyev,This is a good one. thank you for sharing Simon.
179,Fraud detection in online lending,1,Steven Ellingson,Steven Ellingson,"With online lending, fraud is rampant and is s..."
180,Using network analytics to detect money launde...,1,Jagdish Chhabria,Jagdish Chhabria,I came across an interesting article published...

## Remove Initial Posts and Calculate Frequency

In [3]:
#Read File Back in 
thread_data_df = pd.read_csv('final_thread_data_all.csv')

#remove all intial posts
thread_data_df = thread_data_df[(thread_data_df['Initial_Post_or_Comment'] != 1)]

#calculate the frequency
thread_data_df = thread_data_df.groupby(['Author','Response_To']).size().reset_index(name='Freq')

#remove where the author is the same as the respond to, Two (2) records, probably missed in review
thread_data_df = thread_data_df.loc[thread_data_df['Author'] != thread_data_df['Response_To']]

thread_data_df

                    Author        Response_To  Freq
0    Abdellah Ait Elmouden         Habib Khan     1
1    Abdellah Ait Elmouden         Jack Russo     1
2    Abdellah Ait Elmouden         Ken Popkin     1
3    Abdellah Ait Elmouden        Mael Illien     1
4    Abdellah Ait Elmouden  Mikhail Kollontai     1
..                     ...                ...   ...
135      Zachary Alexander         Jack Russo     1
136      Zachary Alexander        Priya Shaji     1
137      Zachary Alexander   Sheryl Piechocki     1
138      Zachary Alexander   Steven Ellingson     1
139      Zachary Alexander    Vanita Thompson     3

[138 rows x 3 columns]

## Aggregate Frequencies

In [4]:
#create list of poster pairs and values
thread_data_list = thread_data_df.values.tolist()
thread_data_list

#Create a list of distinct class members
member_list = list(set(thread_data_df['Author'].values.tolist() + thread_data_df['Response_To'].values.tolist()))
member_combo_list = [list(combo) for combo in itertools.combinations(member_list, 2)]

#Create new list with row for count. 
member_combo_list2 = []
for pair in member_combo_list:
    pair.append(0)
    pair.append(0)
    member_combo_list2.append(pair)

    
#loop through pair list
for thread_pair_list in thread_data_list:

    for pair_id, pairs in enumerate(member_combo_list2):
        person_one = pairs[0]
        person_two = pairs[1]
        freq = pairs[2]
        
        #sum number of interactions
        if all(x in thread_pair_list for x in [person_one, person_two]):
            member_combo_list2[pair_id][2] = freq + thread_pair_list[2]
            

conversation_list = []
#remove all non conversation people
for i in member_combo_list2: 
    if i[2]>0:
        conversation_list.append(i)

conversation_list
# groups_list

for idx, pair in enumerate(conversation_list):
    person_one = pair[0]
    person_two = pair[1]
    
    for group in groups_list:
        if all(x in group for x in [person_one, person_two]):
            conversation_list[idx][3] = 1

conversation_df = pd.DataFrame(conversation_list)
conversation_df.columns = ['person_one', 'person_two', 'freq', 'group']
conversation_df

                person_one             person_two  freq  group
0    Abdellah Ait Elmouden          Jeremy OBrien     1      0
1    Abdellah Ait Elmouden            Mael Illien     3      0
2    Abdellah Ait Elmouden       Vijaya Cherukuri     3      1
3    Abdellah Ait Elmouden            Priya Shaji     3      1
4    Abdellah Ait Elmouden             Ken Popkin     4      0
..                     ...                    ...   ...    ...
101             Jack Russo  Jithendra Seneviratne     1      0
102             Jack Russo        Subhalaxmi Rout     3      0
103             Jack Russo      Mikhail Kollontai     1      0
104  Jithendra Seneviratne      Mikhail Kollontai     1      0
105        Subhalaxmi Rout      Mikhail Kollontai     1      1

[106 rows x 4 columns]

## Perform T-Test to Determine if Greater Conversation Frequency Among Group Members

T-Test indicates that there is not a greater frequency of communication among group members

In [5]:
groups_df = conversation_df[(conversation_df.group==1)]['freq']
nongroups_df = conversation_df[(conversation_df.group==0)]['freq']
ttest_ind(groups_df, nongroups_df)

Ttest_indResult(statistic=1.083769221305288, pvalue=0.28097328064208915)